svg {
	border: 1px solid rgba(0,0,0, 0.2);
}
.hexagon {
  fill: white;
  pointer-events: all;
}

.hexagon path {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.hexagon :hover {
  opacity: 0.5;
}

.hexagon .land {
  fill: #27ae60;
}

.hexagon .water {
  fill: #2980b9;
}

.hexagon .water.species {
  fill: #8e44ad !important;
}

.hexagon .land.species {
  fill: #f39c12 !important;
}

.mesh {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  pointer-events: none;
}

.border {
  fill: none;
  stroke: #2ecc71;
  stroke-width: 2px;
  pointer-events: none;
}
